:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDarj: #232528;
  --mainYello: #ffa400;
}

body {
  font-family: "Potta" sans-serif !important;
  background-color: var(--mainWhite) !important;
  color: var(--mainDarj) !important;
}
